div {
  height: 300px;
  width: 500px;
  background-color: blue;
  border-radius: 10px;
  transition: all 2s ease-in 3s;
  /* á¹­ransition : tranition prperty transtion-duration transition-time-function transtion-delay */
  color: white;
  display: flex;
  align-items: center;
  font-size: 200px;
}
div:hover {
  background-color: red;
  border-radius: 50px;
  border: 1px solid black;
  color: chartreuse;
}
button{
  margin: 10px;
  height: 100px;
  width: 100px;
  transition: all 1.2s ease-in 2s;
  

}
button:hover{
  transform: scale(1.2);
  color: white;
  border-radius: 10px;
  background-color: red;
}
.contanier{
  height: 100px;
  width: 200px;
  background-color: cornflowerblue;
  transition: all 3s ease-in 1s;
}
.contanier:hover{
  transform: translateX(400px);
  background-color: darkgoldenrod;
}
/* duration delay */

.child{
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 10px;
  animation: moves 10s infinite;
  animation: bo 10s infinite;

}
@keyframes moves{
  50%{
    transform: translateX(400px);

  }
  100%{
    transform: translateY(200px);
  }
}
@keyframes bouns{
 0%, 100%{
    transform: translateY(0);

  }
  50%{
    transform: translateY(-50px);
  }
}

