div{
  height: 100px;
  width: 100%;
}
/* .box{
  position: fixed;
  top: 10px;
  background-color: yellow;
  border: 1px solid black;
  width: 40%;

} */
.box1{
  position: absolute;
  top: 20%;
  left: 300px;
  background-color: yellow;

}
