.box{
  height: 500px;
  width: 500px;
  border: 10px solid black;
  border-radius: 50%;
  border: 20px double red;
  border-left: 10px solid blue;
  border-right: 10px solid palevioletred;
  border-top: 10px solid khaki;
  border-bottom: 10px solid navy;
  padding: 70px;
  color: white;
  font-size: 50px;
  /* border(width style color) */
}
.child{
  height: 45%;
  width: 45%;
  border: 20px solid red;
  border-radius: 50% ;
color: white;
font-size: 1.5em;
}
body{
  height: 100vh;
  width: 100vw;
  background-color: black ;
  font-size: 1.5em;

}
h1{
  color: white;
  text-align: center;
  text-decoration-thickness: 10px;
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-color: blue;
  text-decoration: double underline blueviolet;
}
h2{
  color: white;
  text-transform: uppercase;
  /* text-transform: lowercase; */
  text-shadow: 10px 10px 5px;
  text-shadow: 10px 10px 5px red;
  word-spacing: 15px;
  letter-spacing: 10px;
  line-height: 100px;
}
