/* @import url(./home.css);
h1{
  color: rgb(226, 43, 104);
}
#haeding{
  color: red;
  background-color: black;

}
.class{
  background-color: blue;
  color: white;
}
h1{
  background-color: brown;
  color: aliceblue;
} */

/* .container p{
  color: red;
}
.container>p{
  color: blue;
} */

/* h1+p{
  color: red;
} */

/* h1~p{
  color: blue;
} */


