*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
}

nav{
  width: 100%;
}

ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

ul li{
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* Left menu */
.menu{
  display: flex;
  gap: 40px;
}

/* Right buttons */
.auth{
  display: flex;
  gap: 15px;
}

button{
  height: 35px;
  width: 90px;
  border-radius: 8px;
  border: 1px solid blue;
  background-color: black;
  color: white;
  cursor: pointer;
}

button:hover{
  background-color: blue;
}



.carousel {
  width: 300px;
  margin: auto;
}

.carousel-item img {
  width: 100%;
  height: 200px;
}

