/* p{
  font-size: 100px;
  font-weight: bolder;
  font-style: italic;

}
div{
  display: block;
  height: 200px;
  width: 200px;
  background-color: aqua;
}
.mig{
  display: inline;
  background-color: yellow;
}
span{
  width: 100px;
  height: 100px;
  background-color: brown;
}
.mkil{
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: blue;
  color: red;
  box-shadow: 10px;
}
.box1{
  display: flex;
  width: 600px;
  height: 400px;
  background-color:goldenrod;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}
.box1 .box2{
  height: 20%;
  width: 20%;
  background-color: blueviolet;
} */
.boxx{
  width: 600px;
  height: 300px;
  background-color: rgba(255, 255, 0, 0.526);
  border-radius: 30px;
  border: 3px solid blue;
  display: flex;
}
.boxx2{
  width: 450px;
  height: 200px;
  background-color: palevioletred;
  border-radius: 30px;
  margin: 60px;
    border: 2px solid rgb(0, 0, 0);

}
.boxx3{
  width: 250px;
  height: 100px;
  background-color: rgba(112, 178, 216, 0.908);
  border-radius: 30px;
  margin: 50px;
  padding-left: 50px;
  border: 2px solid black;

}