.container {
  height: 500px;
  width: 600px;
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: 4;
  gap: 10px;

}
.child {
  background-color: yellow;
  border-radius: 10px;
  border: 1px solid;
  
   
}
.child1{
  grid-column-start: 2;
  grid-column-end: 4;
}
.child2{
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}
.cont{
  background-image: url("");
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
}